#
#Sat Feb 06 12:26:47 MSK 2021
itemCraftGuideID=23361
gridPacking=true
textSearchRequiresShift=false
insertBetterWithRenewablesRecipes=false
resizeRate=0
RecipeList_mouseWheelScrollRate=3
enableKeybind=true
newerBackgroundStyle=true
PauseWhileOpen=true
hideMundanePotionRecipes=false
alwaysShowID=true
