# allowUpdateCheck (boolean:true) -- Set to true to allow checking for updates for ALL of my mods, false to disable
# allowDebugOutput (boolean:false)
# 
# Fri Feb 05 21:51:57 MSK 2021
allowDebugOutput=false
allowUpdateCheck=false
checksum=1wk
