# Configuration file

####################
# "arrows enabled"
####################

""arrows enabled"" {
    B:"Confusing Arrow"=true
    B:"Dirt Arrow"=true
    B:"Exploding Arrow"=true
    B:"Fire Arrow"=true
    B:"Frost Arrow"=true
    B:"Penetrating Arrow"=true
    B:"Rope Arrow"=true
    B:"Seed Arrow"=true
    B:"Slime Arrow"=true
    B:"Torch Arrow"=true
    B:"Warp Arrow"=true
}


####################
# block
####################

block {
    I:blockIdGrapplingHook=1220
    I:blockIdRope=1221
    I:blockIdRopeDJRoslin=1222
    I:blockIdZipLineAnchor=1223
}


####################
# general
####################

general {
    I:"Rope Texture"=1
    I:"max HookShot Rope Length"=50
}


####################
# item
####################

item {
    I:itemIdArrowConfusion=1224
    I:itemIdArrowDirt=1225
    I:itemIdArrowExplosion=1226
    I:itemIdArrowFire=1227
    I:itemIdArrowGrass=1228
    I:itemIdArrowIce=1229
    I:itemIdArrowLaser=1230
    I:itemIdArrowRope=1231
    I:itemIdArrowSlime=1232
    I:itemIdArrowTorch=1233
    I:itemIdArrowWarp=1234
    I:itemIdGrapplingHook=1235
    I:itemIdHookShot=1236
    I:itemIdHookshotCartridge=1237
    I:itemIdRope=1238
    I:itemIdRopesPlusBow=1239
}


